In [1]:
import pandas as pd

In [2]:
db_covid = pd.read_csv("C:/Users/vince/OneDrive/Desktop/230520_Consegna phyton/owid-covid-data.csv", encoding="latin1", sep=",", low_memory=False)

In [3]:
# 1.1verifico le dimensioni del dataset

print(len(db_covid))

print(db_covid.shape)

311417
(311417, 67)

In [4]:
# 1.2 Verifico le diciture presenti nell'intestazione

db_covid.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [5]:
#verifico l'elenco dei continenti tramite set

elenco_continenti = set(db_covid.continent)
print(elenco_continenti)

{'South America', 'Asia', nan, 'Oceania', 'North America', 'Africa', 'Europe'}

In [16]:
#definisco un dataset semplificato, riportando le sole colonne interessate dai prossimi passaggi
db_covid_clean = db_covid.loc[ :, ["continent", "location", "total_cases", "total_vaccinations"] ]
db_covid_clean.head()

  continent     location  total_cases  total_vaccinations
0      Asia  Afghanistan          NaN                 NaN
1      Asia  Afghanistan          NaN                 NaN
2      Asia  Afghanistan          NaN                 NaN
3      Asia  Afghanistan          NaN                 NaN
4      Asia  Afghanistan          NaN                 NaN

In [7]:
#definisco un elenco di nazioni, da utilizzare per i prossimi passaggi

elenco_nazioni = set(db_covid_clean.location)

In [8]:
#verifico il numero complessivo di casi per nazione

for nazione in elenco_nazioni:
    condizione = db_covid_clean.loc[:, "location"] == nazione
    casi_totali_nazione = db_covid_clean.loc[condizione, "total_cases"]
    print("casi totali in", nazione, "=", casi_totali_nazione.max())

casi totali in Seychelles = 50937.0
casi totali in Turkmenistan = nan
casi totali in Liechtenstein = 21468.0
casi totali in Paraguay = 735759.0
casi totali in Antigua and Barbuda = 9106.0
casi totali in British Virgin Islands = 7305.0
casi totali in Croatia = 1273508.0
casi totali in Palau = 6000.0
casi totali in Portugal = 5584388.0
casi totali in Chad = 7698.0
casi totali in Malawi = 88638.0
casi totali in Saudi Arabia = 841469.0
casi totali in Thailand = 4736356.0
casi totali in Malta = 118631.0
casi totali in Mauritania = 63663.0
casi totali in Mauritius = 304233.0
casi totali in Somalia = 27334.0
casi totali in Iceland = 209191.0
casi totali in Bhutan = 62668.0
casi totali in Poland = 6515812.0
casi totali in Montserrat = 1403.0
casi totali in Sint Maarten (Dutch part) = 11030.0
casi totali in Pakistan = 1580631.0
casi totali in Saint Kitts and Nevis = 6600.0
casi totali in Palestine = 703228.0
casi totali in Monaco = 16771.0
casi totali in Maldives = 186589.0
casi totali in Israel = 4824551.0
casi totali in Togo = 39491.0
casi totali in Greece = 6044517.0
casi totali in Oceania = 14073969.0
casi totali in Eswatini = 74670.0
casi totali in Morocco = 1274180.0
casi totali in Ireland = 1711233.0
casi totali in Cyprus = 660854.0
casi totali in Belarus = 994037.0
casi totali in Gibraltar = 20550.0
casi totali in Lesotho = 34490.0
casi totali in Uganda = 170775.0
casi totali in New Zealand = 2282861.0
casi totali in Armenia = 449148.0
casi totali in Jamaica = 154874.0
casi totali in Philippines = 4115202.0
casi totali in Tuvalu = 2779.0
casi totali in Tajikistan = 17786.0
casi totali in Barbados = 107794.0
casi totali in Cuba = 1113594.0
casi totali in Serbia = 2538899.0
casi totali in Jordan = 1746997.0
casi totali in Bosnia and Herzegovina = 402918.0
casi totali in Mexico = 7603871.0
casi totali in Sudan = 63993.0
casi totali in Haiti = 34228.0
casi totali in Sao Tome and Principe = 6575.0
casi totali in Azerbaijan = 831659.0
casi totali in Kyrgyzstan = 206888.0
casi totali in Gambia = 12626.0
casi totali in Isle of Man = 38008.0
casi totali in Ethiopia = 500871.0
casi totali in Falkland Islands = 1923.0
casi totali in Laos = 218101.0
casi totali in Northern Ireland = nan
casi totali in Netherlands = 8610372.0
casi totali in Italy = 25828252.0
casi totali in Niger = 9513.0
casi totali in Burundi = 53749.0
casi totali in Europe = 249319125.0
casi totali in Algeria = 271817.0
casi totali in Hungary = 2202179.0
casi totali in Lower middle income = 97534145.0
casi totali in Angola = 105384.0
casi totali in Nepal = 1003260.0
casi totali in Saint Lucia = 30052.0
casi totali in Ukraine = 5544969.0
casi totali in United Kingdom = 24603076.0
casi totali in Western Sahara = nan
casi totali in Solomon Islands = 24575.0
casi totali in Estonia = 618608.0
casi totali in Marshall Islands = 16081.0
casi totali in Switzerland = 4404327.0
casi totali in Guam = 51345.0
casi totali in Vietnam = 11590617.0
casi totali in Singapore = 2414394.0
casi totali in Cape Verde = 63779.0
casi totali in Anguilla = 3904.0
casi totali in Bolivia = 1197983.0
casi totali in United States Virgin Islands = 24994.0
casi totali in Guadeloupe = 202653.0
casi totali in Afghanistan = 218720.0
casi totali in Honduras = 472594.0
casi totali in Nicaragua = 15713.0
casi totali in Reunion = 494595.0
casi totali in Cambodia = 138736.0
casi totali in Greenland = 11971.0
casi totali in Cayman Islands = 31472.0
casi totali in Guyana = 73207.0
casi totali in India = 44983152.0
casi totali in Panama = 1037978.0
casi totali in Timor = 23443.0
casi totali in Brunei = 299505.0
casi totali in Bahamas = 38084.0
casi totali in Comoros = 9109.0
casi totali in Malaysia = 5079436.0
casi totali in Rwanda = 133194.0
casi totali in American Samoa = 8331.0
casi totali in United States = 103436829.0
casi totali in Puerto Rico = 1119959.0
casi totali in Ecuador = 1061766.0
casi totali in High income = 421618451.0
casi totali in Indonesia = 6799760.0
casi totali in South Sudan = 18368.0
casi totali in Aruba = 44180.0
casi totali in Central African Republic = 15367.0
casi totali in Spain = 13845825.0
casi totali in Bonaire Sint Eustatius and Saba = 11885.0
casi totali in Guernsey = 35326.0
casi totali in Namibia = 171310.0
casi totali in Saint Pierre and Miquelon = 3426.0
casi totali in Northern Mariana Islands = 13872.0
casi totali in Egypt = 516023.0
casi totali in European Union = 184065400.0
casi totali in Argentina = 10044957.0
casi totali in Australia = 11299954.0
casi totali in Costa Rica = 1230552.0
casi totali in Germany = 38418899.0
casi totali in North Macedonia = 348281.0
casi totali in Qatar = 510596.0
casi totali in South Africa = 4072533.0
casi totali in World = 766440032.0
casi totali in Curacao = 45812.0
casi totali in Sierra Leone = 7762.0
casi totali in Georgia = 1842046.0
casi totali in Chile = 5285311.0
casi totali in Mali = 33147.0
casi totali in Brazil = 37511921.0
casi totali in Guatemala = 1250268.0
casi totali in Moldova = 620519.0
casi totali in Syria = 57423.0
casi totali in Latvia = 977848.0
casi totali in Saint Barthelemy = 5486.0
casi totali in Upper middle income = 243775512.0
casi totali in Bulgaria = 1306103.0
casi totali in Equatorial Guinea = 17130.0
casi totali in Finland = 1477021.0
casi totali in Low income = 2301456.0
casi totali in Zambia = 343995.0
casi totali in Grenada = 19693.0
casi totali in Micronesia (country) = 26453.0
casi totali in Djibouti = 15690.0
casi totali in Uzbekistan = 253526.0
casi totali in Faeroe Islands = 34658.0
casi totali in Suriname = 82495.0
casi totali in Kuwait = 665885.0
casi totali in Sri Lanka = 672317.0
casi totali in South America = 68555165.0
casi totali in Tanzania = 43078.0
casi totali in Uruguay = 1037893.0
casi totali in England = nan
casi totali in Hong Kong = nan
casi totali in Nigeria = 266675.0
casi totali in Tunisia = 1153063.0
casi totali in Benin = 28014.0
casi totali in Czechia = 4641431.0
casi totali in Slovakia = 1866745.0
casi totali in Tokelau = 5.0
casi totali in Austria = 6072229.0
casi totali in Saint Vincent and the Grenadines = 9631.0
casi totali in Ghana = 171653.0
casi totali in Guinea-Bissau = 9614.0
casi totali in Madagascar = 68266.0
casi totali in French Polynesia = 78545.0
casi totali in Bahrain = 696614.0
casi totali in Eritrea = 10189.0
casi totali in French Guiana = 98041.0
casi totali in Saint Martin (French part) = 12300.0
casi totali in Iran = 7610676.0
casi totali in Senegal = 88997.0
casi totali in Kazakhstan = 1502857.0
casi totali in North America = 124169393.0
casi totali in Turks and Caicos Islands = 6588.0
casi totali in Saint Helena = 2166.0
casi totali in Andorra = 48015.0
casi totali in China = 99256991.0
casi totali in Guinea = 38563.0
casi totali in Mongolia = 1008265.0
casi totali in United Arab Emirates = 1065607.0
casi totali in Kenya = 343074.0
casi totali in Tonga = 16817.0
casi totali in Wallis and Futuna = 3427.0
casi totali in Cook Islands = 7079.0
casi totali in Gabon = 48992.0
casi totali in Niue = 801.0
casi totali in Japan = 33803572.0
casi totali in Belgium = 4797108.0
casi totali in Burkina Faso = 22056.0
casi totali in Myanmar = 637483.0
casi totali in Oman = 399449.0
casi totali in North Korea = nan
casi totali in New Caledonia = 80058.0
casi totali in Slovenia = 1343721.0
casi totali in Democratic Republic of Congo = 96652.0
casi totali in Albania = 334090.0
casi totali in Denmark = 3413017.0
casi totali in Iraq = 2465545.0
casi totali in Peru = 4505220.0
casi totali in Dominica = 15760.0
casi totali in Yemen = 11945.0
casi totali in Venezuela = 552695.0
casi totali in Asia = 297229145.0
casi totali in Colombia = 6365994.0
casi totali in Kosovo = 273881.0
casi totali in Samoa = 16763.0
casi totali in Zimbabwe = 264848.0
casi totali in Norway = 1484030.0
casi totali in Turkey = 17004677.0
casi totali in France = 38989402.0
casi totali in Botswana = 329862.0
casi totali in Vanuatu = 12016.0
casi totali in Pitcairn = 4.0
casi totali in Papua New Guinea = 46864.0
casi totali in Canada = 4669364.0
casi totali in Wales = nan
casi totali in Scotland = nan
casi totali in Cote d'Ivoire = 88330.0
casi totali in Luxembourg = 319959.0
casi totali in Bangladesh = 2038539.0
casi totali in Liberia = 8090.0
casi totali in Martinique = 229900.0
casi totali in Macao = nan
casi totali in San Marino = 24247.0
casi totali in Congo = 25195.0
casi totali in Cameroon = 125036.0
casi totali in Sweden = 2708122.0
casi totali in Lithuania = 1319639.0
casi totali in Dominican Republic = 661103.0
casi totali in Northern Cyprus = nan
casi totali in South Korea = 31415280.0
casi totali in Taiwan = nan
casi totali in Vatican = 26.0
casi totali in Lebanon = 1237556.0
casi totali in Montenegro = 289292.0
casi totali in Jersey = 66391.0
casi totali in Mozambique = 233417.0
casi totali in Russia = 22900755.0
casi totali in Trinidad and Tobago = 191496.0
casi totali in El Salvador = 201785.0
casi totali in Mayotte = 42027.0
casi totali in Bermuda = 18860.0
casi totali in Nauru = 5393.0
casi totali in Libya = 507253.0
casi totali in Africa = 13087749.0
casi totali in Belize = 70782.0
casi totali in Romania = 3399977.0
casi totali in Fiji = 68921.0
casi totali in Kiribati = 5025.0

In [21]:
# 2. calcolo il numero totale di casi per continente

casi_totali = 0
for continente in elenco_continenti:
    casi_totali_continente = 0
    condizione = db_covid_clean.loc[:, "continent"] == continente
    db_covid_continente_clean = db_covid_clean.loc[condizione]
    for nazione in elenco_nazioni:
        if nazione != continente:
            condizione = db_covid_continente_clean.loc[:, "location"] == nazione
            casi_totali_nazione = db_covid_continente_clean.loc[condizione, "total_cases"]
            if casi_totali_nazione.max() > 0:
                casi_totali_continente += casi_totali_nazione.max()
    print("il numero totale di casi in", continente, "Ã¨ uguale a", casi_totali_continente)
    casi_totali += casi_totali_continente
print("il numero di casi totali Ã¨ ", casi_totali)

il numero totale di casi in South America Ã¨ uguale a 68555165.0
il numero totale di casi in Asia Ã¨ uguale a 297229145.0
il numero totale di casi in nan Ã¨ uguale a 0
il numero totale di casi in Oceania Ã¨ uguale a 14073969.0
il numero totale di casi in North America Ã¨ uguale a 124174879.0
il numero totale di casi in Africa Ã¨ uguale a 13087749.0
il numero totale di casi in Europe Ã¨ uguale a 249319125.0
il numero di casi totali Ã¨  766440032.0

In [10]:
# 3. definisco una funzione come richiesto dal punto 3 della consegna

def confronto_casi(dataset, continente1, continente2):
    continenti_draft = [continente1, continente2] 
    condizione_1 = dataset.continent == continenti_draft[0]
    condizione_2 = dataset.continent == continenti_draft[1]
    prova_1 = dataset.loc[condizione_1, "total_cases"]
    prova_2 = dataset.loc[condizione_2, "total_cases"]
    minimo_c = {continenti_draft[0]: prova_1.min(), continenti_draft[1]: prova_2.min() }
    massimo_c = {continenti_draft[0]: prova_1.max(), continenti_draft[1]: prova_2.max()}
    media_c ={continenti_draft[0]: prova_1.mean(), continenti_draft[1]: prova_2.mean()}
    percentuale_c = {continenti_draft[0]: 100*prova_1.max()/casi_totali, continenti_draft[1]: 100*prova_2.max()/casi_totali}
    s_1 = pd.Series(minimo_c)
    s_2 = pd.Series(massimo_c)
    s_3 = pd.Series(media_c)
    s_4 = pd.Series(percentuale_c)
    tabella_draft = pd.DataFrame({"minimo": s_1, "massimo":s_2, "media":s_3, "percentuale [%]":s_4})
    print(tabella_draft)

In [11]:
# eseguo un test sulla funzione definita

confronto_casi(db_covid, "Africa","Asia")

        minimo     massimo         media  percentuale [%]
Africa     1.0   4072533.0  1.355778e+05         0.531357
Asia       1.0  99256991.0  2.255135e+06        12.950392

In [12]:
# 4. definisco una funzione come richiesto dal punto 4 della consegna

vaccinazioni_totali = 0
for continente in elenco_continenti:
    vaccini_totali_continente = 0
    condizione = db_covid.loc[:, "continent"] == continente
    db_covid_continente = db_covid.loc[condizione]
    for nazione in elenco_nazioni:
        if nazione != continente:
            condizione = db_covid_continente.loc[:, "location"] == nazione
            vaccini_totali_nazione = db_covid_continente.loc[condizione, "total_vaccinations"]
            if vaccini_totali_nazione.max() > 0:
                vaccini_totali_continente += vaccini_totali_nazione.max()
    vaccinazioni_totali += vaccini_totali_continente
print(vaccinazioni_totali)

def confronto_vaccinazioni(dataset, continente1, continente2):
    continenti_draft = [continente1, continente2] 
    condizione_1 = dataset.continent == continenti_draft[0]
    condizione_2 = dataset.continent == continenti_draft[1]
    prova_1 = dataset.loc[condizione_1, "total_vaccinations"]
    prova_2 = dataset.loc[condizione_2, "total_vaccinations"]
    minimo_c = {continenti_draft[0]: prova_1.min(), continenti_draft[1]: prova_2.min() }
    massimo_c = {continenti_draft[0]: prova_1.max(), continenti_draft[1]: prova_2.max()}
    media_c ={continenti_draft[0]: prova_1.mean(), continenti_draft[1]: prova_2.mean()}
    percentuale_c = {continenti_draft[0]: 100*prova_1.max()/vaccinazioni_totali, continenti_draft[1]: 100*prova_2.max()/vaccinazioni_totali}
    s_1 = pd.Series(minimo_c)
    s_2 = pd.Series(massimo_c)
    s_3 = pd.Series(media_c)
    s_4 = pd.Series(percentuale_c)
    tabella_draft = pd.DataFrame({"minimo": s_1, "massimo":s_2, "media":s_3, "percentuale [%]":s_4})
    print(tabella_draft)

13553285377.0

In [20]:
# eseguo un test sulla funzione definita

confronto_vaccinazioni(db_covid, "North America","South America")

               minimo      massimo         media  percentuale [%]
North America     0.0  676728782.0  6.428697e+07         4.993098
South America     0.0  486436436.0  6.224178e+07         3.589067

In [38]:
print("casi")
confronto_casi(db_covid, "Europe","South America")
confronto_casi(db_covid, "Oceania", "North America")
for i in range(0,3):
    print(" ")
   
print("vaccinazioni")
confronto_vaccinazioni(db_covid, "Europe","South America")
confronto_vaccinazioni(db_covid, "Oceania", "North America")

casi
               minimo     massimo         media  percentuale [%]
Europe            1.0  38989402.0  2.095649e+06         5.087078
South America     1.0  37511921.0  2.645878e+06         4.894306
               minimo      massimo         media  percentuale [%]
Oceania           1.0   11299954.0  2.724134e+05         1.474343
North America     1.0  103436829.0  1.514036e+06        13.495750



vaccinazioni
               minimo      massimo         media  percentuale [%]
Europe            0.0  192221468.0  2.686943e+07         1.418265
South America     0.0  486436436.0  6.224178e+07         3.589067
               minimo      massimo         media  percentuale [%]
Oceania           0.0   63681652.0  1.245744e+07         0.469861
North America     0.0  676728782.0  6.428697e+07         4.993098

### 5. report riassuntivo
Le funzioni definite evidenziano i valori minimo, massimo, la media e la percentuale di, rispettivamentem casi totali o vaccinazioni, per i continenti richiesti. 
Il valore di minimo e di massimo rappresentano il numero minimo e massimo di casi registrati, o vaccini, tra le nazioni dell'area geografica selezionata. 
Il valore di media rappresenta la media dei casi registrati per le singole nazioni dell'area geografica selezionata.
Il valore di percentuale rappresenta il valore di casi, o di vaccinazioni, totali registrate per la nazione con il maggior numero di casi, o vaccinazioni, fratto il numero totale di casi, o vaccinazioni, registrate a livello mondiale.

Dal confronto tra i dati di Europa, America e Oceania emerge che:
* in ciascuna nazione appartenente alle nazioni delle aree geografiche indagate risulta essere presente almeno un caso di covid
* il numero massimo di casi tra le nazioni indagare risulta essere in una nazione del nord america. Al secondo posto, per nazione singola con maggior numero di casi, risulta essere l'europa, a seguire sud america e oceania
* allo stesso modo, il valore medio massimo di contagi risulta essere in nord america. Diversamente dal numero massimo, invece, l'area geografica posizionata al secondo posto per numero medio di contagi nazionali risulta essere l'oceania, al terzo posto il sud america e al quarto posto l'europa.
* Contrariamente al numero di casi, risultano esserci delle nazioni per le quali risultano essere registrati zero vaccini. 
* il continente con la nazione con il numero di vaccini maggiore risulta essere il nord america. al secondo posto troviamo il sud america, al terzo l'europa e in fondo l'oceania. 
* La media di dati di vaccinazioni risulta essere piÃ¹ alta in nord america, al secondo posto risulta il sud ameria, al terzo posto l'europa e al quarto posto l'oceania.

L'oceania risulta quindi essere l'area geografica meno coinvolta dalla pandemia.